@import url('http://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
body{
	padding:50px;
	background-image: linear-gradient(-20deg, #f0f8ff 0%, #9644ff 100%);
	text-align: center;
	font-family: 'Quicksand', sans-serif;
}
ul {
	margin-left: -45px;
}
li {
	list-style: none;
	display: inline-block;
}
.main { 
	width: 800px;
	height: 520px;
	background-color: #fafafa;
	margin: 0 auto;
	padding-top: 20px;
	border-radius: 10px;
	border: 1px solid #eeeee;
}
.img {
	background-image: url(muda.jpg);
	background-color: #eaeaea;
	background-size: cover;
	border-radius: 100px;
	width:150px;
	height: 150px;
	margin: 0 auto;
	border: 1px solid #eaeaea
}
h1 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	font-weight: blod;
	color: #324e63;
}
.text {
	text-align: center;
	font-size: 15px;
	width: 0;
	color: #324e63
}
p {
	margin: 0 auto;
	padding-top: 20px;
	width: 450px;
	height: auto;
	color: #324e63;
}







	